<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>

    <!--Example: Local SDF file (SQL CE). You need to create the SDF file -->
    
    <!--<property name="dialect">NHibernate.Dialect.MsSqlCeDialect</property>
    <property name="connection.driver_class">NHibernate.Driver.SqlServerCeDriver</property>
    <property name="connection.connection_string">Data Source=NHibernateDemo.sdf</property>-->

    <!--Example: LocalDB. Already made for you in these sample apps-->
    <property name="dialect">NHibernate.Dialect.MsSql2012Dialect</property>
    <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
    <property name="connection.connection_string">Data Source=(localdb)\mssqllocaldb;Integrated Security=true;AttachDBFilename=|DataDirectory|CipherDbNHibernateDemo.mdf</property>

    <!--Example: SQL Server 2012. Already made for you in these sample apps-->
    <!--<property name="dialect">NHibernate.Dialect.MsSql2012Dialect</property>
    <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
    <property name="connection.connection_string">Data Source=SERVER\SQLINSTANCENAME;Database=yourDbName;User ID=yourSqlLogin;Password=yourSqlPassword</property>
    <property name="show_sql">false</property>-->
  </session-factory>
</hibernate-configuration>

