<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="crypteronConfig" type="Crypteron.CrypteronConfig, CipherCore" />
  </configSections>
  <crypteronConfig>
    <myCrypteronAccount appSecret="Demonstrates_AppSecret_Added_Via_Program.cs_Main()" />
  </crypteronConfig>

  <connectionStrings>
      <add name="PostgresConnectionString"
         connectionString="Server=localhost;Port=5432;Database=Crypteron-CipherDb-EF6;User Id=postgres;Password=PostgresPassword"
         providerName="Npgsql" />
  </connectionStrings>
  
  <entityFramework>
    <providers>
      <provider invariantName="Npgsql"
         type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />
    </providers>
  </entityFramework>
  
</configuration>
